<!-- for each document, create an image that has a link that downloads the file -->
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="doc_style.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>

<!-- file upload custom designs-->

<div class="default-file-upload">
<h1>
 Document Upload
</h1>
<input id ="file-upload1" type="file" name="upload" accept="application/pdf" />

</div>
</body>
</html>
