{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}

{% block content %}
<form action = "/documents" method = "POST">
{{ form.csrf_token  }}
{{ form.submit }}
<!-- file upload custom designs-->
<h1>
 Document Upload
</h1>
<div class = "docLoad">
{{ wtf.quick_form(form) }}
</div>
<div class="images">

    {% for file in docs %}
    <td>
<embed src=file width="300" height="200" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </td>
    {% endfor %}
{% endblock %}

<!--<input id ="docLoad" type="file" name="upload" accept="application/pdf"/> -->
