{% extends "layout.html" %}
{{ super() }}


{% block content %}

<div class="container">
  <h3>Internships</h3>  
  
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalLoginForm">
    Add Internship
  </button>

{{ table }}
</div>


<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Add Internship</h1>
            </div>
            <div class="modal-body">
              {{ wtf.quick_form(form) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal HTML Markup -->
<div id="ModalEditForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Edit Internship</h1>
            </div>
            <div class="modal-body">
              {{ wtf.quick_form(editform) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $('#ModalEditForm').modal({ show: false})
    $(document).ready(function () {
      let url = window.location;
      if (url.pathname.includes('edit')) {
        $('#ModalEditForm').modal({show : true})
      }
    });
</script> 
{% endblock %}
