  
{% extends "layout.html" %}
{{ super() }}


{% block content %}

<div class="container">
  <h2>Internships</h3>  
  
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalLoginForm">
    Add Internship
  </button>
<h3>Applied</h3>  
{{ applied_table }}
<hr>
<h3>Need to Apply</h3>  
{{ not_applied_table }}

</div>


<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Add Internship</h1>
            </div>
            <div class="modal-body">
              {{ wtf.quick_form(form) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal HTML Markup -->
<div id="ModalEditForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Edit Internship</h1>
            </div>
            <div class="modal-body">
              {{ wtf.quick_form(editform) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $('#ModalEditForm').modal({ show: false})
    $(document).ready(function () {

      let url = window.location;
      if (url.pathname.includes('edit')) {
        $('#ModalEditForm').modal({show : true})
      }

      $('.internship-table-na tr').each(function(){
        var deadline = $(this).find('.deadline-col')
        var mydate = new Date(deadline.html());
        var FIVE_DAYS = 5 * 24 * 60 * 60 * 1000;
        var difference = mydate - (new Date)
        if ((difference < FIVE_DAYS) && (difference > 0)){
          $(this).append('<td class="time"><span class="glyphicon">&#xe023;</span></td>')
          $(this).css("background-color",'#ffa1a1');
        }else{
          $(this).append('<td class="time"></td>')
          if (difference < 0){
            $(this).addClass('info')
          }
        }
      })
    })
</script> 
{% endblock %}
  
