<!DOCTYPE html>
<html>
  <head>
    <title>Internship Tracker</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="mainContainer">
      <div class="loginDiv" id="loginDiv">
        <h1 class="row">Login</h1>
        <div class="row">
          Username:&nbsp;<input type="text" id="username" class="inputBox" />
        </div>
        <div class="row">
          Password:&nbsp;<input type="password" id="password" class="inputBox" />
        </div>
        <div class="row">
          <button id="loginButton">Log In</button>
        </div>
      </div>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>

